.ranking_area_left.col-xs-4
  .panel.panel-danger
    .panel-heading.text-center
      =name
      %br>/
      （#{type}）
    .panel-body.text-center
      #{rank}位
      %span.ranking-bottom /#{User.count}人
