%h1=@user.nickname+"さんのプロフィール"

%img{src:@user.image}
%p=@user.nickname
%p=@user.email

- if @user=current_user
  = link_to 'Edit', edit_user_path(@user),class:"btn btn-primary"

= link_to 'Back', users_path

%h1 ブログ
- @posts.each do |post|
  %p=post.title
  %p=post.content
  = link_to "Edit",edit_post_path(post)
