!!!
%html
  =render 'layouts/head'
  %body
    =render 'layouts/navbar'
    .container
      .row
        .col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4          
          =render 'layouts/flash'
          = yield
        =render 'layouts/footer'
